extends layout


block content
    .container
        .row
            .col-lg-4
                .d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark(style='min-height:100%;height:100vh;')
                    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none(href='/')
                        svg.bi.me-2(width='40' height='20')
                        span.fs-4 Personal Relationship Manager
                    hr
                    ul.nav.nav-pills.flex-column.mb-auto
                        li.nav-item
                            a.nav-link.active(href='/' aria-current='page')
                                svg.bi.me-2(width='16' height='16')
                                |           Contacts
                        li
                            a.nav-link.text-white(href='/reminders')
                                svg.bi.me-2(width='16' height='16')
                                |           Reminders
                        li
                            a.nav-link.text-white(href='/company')
                                svg.bi.me-2(width='16' height='16')
                                |           Companies
            .col-lg-8
                h1= title

                table#table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Name
                            th(scope='col') Email
                            th(scope='col') Phone Number
                            th(scope='col') Job
                            th(scope='col') Company
                            th(scope='col') Relationship
                    tbody
                        each t in data
                            tr
                                th(scope='row') #{t.contact_id}
                                td #{t.contact_name}
                                td #{t.email}
                                td #{t.phone_number}
                                td #{t.job}
                                td #{t.company_name}
                                td #{t.relationship_type}

    script(src="/js/tableClick.js")